@model KudosDash.Models.Teams

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Teams</h4>
<hr />
<div class="row d-flex align-items-center justify-content-center">
<div class="col-md-6 card p-5">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamId" />
            <div class="mb-1">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="mb-1">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-lg btn-secondary" asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
