@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">KudosDash</h1>
    <p>A virtual solution for giving feedback to your colleages!</p>
    
    <h2 class="display-3">What is KudosDash?</h2>
    <p></p>

    <h2 class="display-3">Who is KudosDash for?</h2>

    <h2 class="display-3">How does KudosDash work?</h2>
    
    <a class="btn btn-outline-success" asp-controller="Account" asp-action="Register">Create your Account</a>
    <a class="btn btn-outline-success">Register your Team</a>
</div>
