@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">KudosDash</h1>
    <p>A virtual solution for giving feedback to your colleages!</p>
</div>

<div class="container">
    <div class="card border-primary mb-3">
        <div class="card-header bg-primary">
            <h2 class="text-center">What is KudosDash?</h2>
        </div>
        <div class="card-body">
            <p>Recognition and appreciation are two of the biggest factors in maintaining a happy worklife and professional growth. Sometimes receiving kudos or constructive feedback can be a battle, though, as nobody likes to be put on the spot, and often our colleagues have a long list of priorities which giving feedback is at the bottom on.</p>
            <p>Enter KudosDash! KudosDash is online application for providing feedback to colleagues at any time.</p>
            <p>There's no requirement from the software to structure feedback messages in any particular way, so drafting feedback is a quick and hassle-free experience. Evidence shows that when you receive feedback yourself, you are 70% more likely to give feedback to someone else.</p>
        </div>
    </div>

    <div class="card border-warning mb-3">
        <div class="card-header bg-warning">
            <h2 class="text-center">Who is KudosDash for?</h2>
        </div>
        <div class="card-body">
            <p>You and your team, whether you're a manager or an employee! KudosDash offers a unique experience depending on your role.</p>
        </div>
    </div>
        
    <div class="card border-info mb-3">
        <div class="card-header bg-info">
            <h2 class="text-center">How does KudosDash work?</h2>
        </div>
        <div class="card-body">
            <p>First, your team manager will need to sign up for their account. With an approved account, managers are able to create a team which will be available for employees to sign up to.</p>
            <p>Team members simply choose the relevant team during their own account registration. Members of the same team are then able to write and submit feedback for each other.</p>

            <p>Each KudosDash user is provided with a Dashboard.</p>
            <ul>
                <li>For team managers, this dashboard shows all the feedback submitted by team members and provides the ability to approve submissions.</li>
                <li>For team members, the dashboard shows both feedback the user has written for other team members and approved feedback provided by other team members.</li>
            </ul>

            <p>Of course team membership isn't static and people may move between teams. Rest assured, once you have an account you can edit your account details to update team membership though you can only manage or be part of one team at a time.</p>
        </div>
    </div>
</div>
<div class="text-center">
    <a class="btn btn-outline-success" asp-controller="Account" asp-action="Register">Create your Account</a>
    <a class="btn btn-outline-success" asp-controller="Teams" asp-action="Create">Register your Team</a>
</div>